<style>
    .profile-pic {
        width: 120px;
        height: 120px;
        border-radius: 0 0 5% 0;
        object-fit: cover;
        /*border: 1px solid #ddd;*/
        object-fit: cover;
        transition: transform 0.1s ease-in-out;
    }

        .profile-pic:hover {
            transform: scale(1.5);
            cursor: pointer;
        }

    .upload-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .border_form {
        border: 1px solid #dbd6d6;
        border-radius: 0 0 8px 0;
        padding-top: 10px;
        padding-bottom: 15px
    }
    .input_focus{
        height:15px;
    }
</style>
<div class="row g-4">
    <div class="col-md-12" style="border:1px solid #ccc5c5;border-radius:5px">
        <div class="row">
            <div class="col-md-9" style="margin-left:10px">
                <div class="row justify-content-center" style="text-align:center">
                    <div class="col-md-12">
                        <span id="error_img" style="color:red"></span>
                        <span id="error_img_2" style="color:red"></span>
                    </div>
                </div>
                <div class="row justify-content-center" style="text-align:center">
                    <div class="col-md-12">
                        <div class="alert_Param hide">
                            <span class="fas fa-exclamation-circle"></span>
                            <span class="result_Param"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Identification</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 border_form">
                        <div class="row mb-1">
                            <div class="col-md-3">
                                <label for="libelleProjet">Raison sociale</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="libelleProjet" value="" id="libelleProjet" class="form-control input_focus" />
                                <span class="erreur"></span>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-3">
                                <label for="libelleProjet2">Raison sociale (2)</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="libelleProjet2" value="" id="libelleProjet2" class="form-control input_focus" />
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-3">
                                <label for="sigle">Sigle</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="sigle" value="" id="sigle" class="form-control input_focus" />
                                <span class="erreur"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Adresse</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 border_form">
                                <div class="row mb-1">
                                    <div class="col-md-3">
                                        <label for="adresse1">Adresse (1ère ligne)</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" name="adresse1" value="" id="adresse1" class="form-control input_focus" />
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-3">
                                        <label for="adresse2">Adresse (2ème ligne)</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" name="adresse2" value="" id="adresse2" class="form-control input_focus" />
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-3">
                                        <label for="ville">Ville</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" name="ville" value="" id="ville" class="form-control input_focus" />
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-3">
                                        <label for="pays">Pays</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select id="pays" class="input_focus select_" style="width:100%">
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-3">
                                        <label for="telephone">Téléphone</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" name="telephone" value="" id="telephone" class="form-control input_focus" />
                                    </div>
                                    <div class="col-md-2">
                                        <label for="fax">FAX</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="fax" value="" id="fax" class="form-control input_focus" />
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-3">
                                        <label for="BoitePostale">Boite postale</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" name="BoitePostale" value="" id="BoitePostale" class="form-control input_focus" />
                                    </div>
                                    <div class="col-md-2">
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="email" value="" id="email" class="form-control input_focus" />
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-3">
                                        <label for="ninea">Ninéa</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" name="ninea" value="" id="ninea" class="form-control input_focus" />
                                    </div>
                                    <div class="col-md-2">
                                        <label for="rc">RC</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="rc" value="" id="rc" class="form-control input_focus" />
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-3">
                                        <label for="compteBanc">Compte bancaire</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" name="compteBanc" value="" id="compteBanc" class="form-control input_focus" />
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-3">
                                        <label for="siteWeb">Site Web</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" name="siteWeb" value="" id="siteWeb" class="form-control input_focus" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row justify-content-center mb-2" style="padding-top:25px">
                    <div class="fallback">
                        <input type="file" id="profileUpload" accept="image/*" class="d-none">
                    </div>
                    <div class="col-md-auto">
                        <div class="text-center mb-3">
                            <label for="profileUpload" class="upload-btn">
                                <img id="profilePic" src="~/images/user.png" alt="Profile Picture" class="profile-pic">
                            </label>
                            <span style="color:red;cursor:pointer;padding-top:10px" id="resetImg">&times;Annuler</span>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mb-2" style="padding-top:25px">
                    <div class="fallback">
                        <input type="file" id="profileUpload_2" accept="image/*" class="d-none">
                    </div>
                    <div class="col-md-auto">
                        <div class="text-center mb-3">
                            <label for="profileUpload_2" class="upload-btn">
                                <img id="profilePic_2" src="~/images/user.png" alt="Profile Picture" class="profile-pic">
                            </label>
                            <span style="color:red;cursor:pointer;padding-top:10px" id="resetImg_2">&times;Annuler</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Société transport</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 border_form">
                        <div class="row mb-1">
                            <div class="col-md-3">
                                <label for="raisonSocial">Raison sociale</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="raisonSocial" value="" id="raisonSocial" class="form-control input_focus" />
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-3">
                                <label for="adresseTranport">Adresse</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="adresseTranport" value="" id="adresseTranport" class="form-control input_focus" />
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-3">
                                <label for="TelTranport">Téléphone</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="TelTranport" value="" id="TelTranport" class="form-control input_focus" />
                            </div>
                            <div class="col-md-2">
                                <label for="faxTranport">FAX</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="faxTranport" value="" id="faxTranport" class="form-control input_focus" />
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-3">
                                <label for="BoitePostalTranport">Boite postale</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="BoitePostalTranport" value="" id="BoitePostalTranport" class="form-control input_focus" />
                            </div>
                            <div class="col-md-2">
                                <label for="EmailTranport">Email</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="EmailTranport" value="" id="EmailTranport" class="form-control input_focus" />
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-3">
                                <label for="nineaTranport">Ninéa</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="nineaTranport" value="" id="nineaTranport" class="form-control input_focus" />
                            </div>
                            <div class="col-md-2">
                                <label for="RCTranport">RC</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="RCTranport" value="" id="RCTranport" class="form-control input_focus" />
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-3">
                                <label for="CpteBancTranport">Compte bancaire</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="CpteBancTranport" value="" id="CpteBancTranport" class="form-control input_focus" />
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-3">
                                <label for="SiteWebTranport">Site Web</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="SiteWebTranport" value="" id="SiteWebTranport" class="form-control input_focus" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="text-align:center;padding-bottom:8px">
            <div class="col-md-12">
                <button class="btn btn-sm btn-success" id="Enregistrer" onclick="Enregistrer()">Enregistrer</button>
            </div>
        </div>
    </div>
</div>


<script src="~/js/parametre/EnteteProjet.js"></script>