<?xml version="1.0" encoding="utf-8"?>
<CONFIGSETTINGS FINPROSETTINGS="">
  <TYPESERVEUR>U1FM</TYPESERVEUR>
  <NOMSERVEUR>TkVXUENERVZcU1FMRVhQUkVTUzAy</NOMSERVEUR>
  <NOMBASE>RGVwX1JlY2V0dGU=</NOMBASE>
  <NOMUTILISATEUR>c2E=</NOMUTILISATEUR>
  <MOTDEPASSE>ZmlucHJvbmV0</MOTDEPASSE>
  <BASEDIR>Qzpc</BASEDIR>
  <ETATSDIR>
  </ETATSDIR>
  <LOGSDIR>
  </LOGSDIR>
  <XMLPATH>
  </XMLPATH>
  <RTFPATH>
  </RTFPATH>
  <UTILSFILES>
  </UTILSFILES>
  <HELPFILES>
  </HELPFILES>
  <NEWPROJECTSCRIPTS>
  </NEWPROJECTSCRIPTS>
  <LANGUE>ZnItRlI=</LANGUE>
  <NPU>
  </NPU>
  <KEYLOCATION>TE9DQUw=</KEYLOCATION>
  <RESEAU>VHJ1ZQ==</RESEAU>
  <MULTISITES>VHJ1ZQ==</MULTISITES>
  <MULTIPROJETS>RmFsc2U=</MULTIPROJETS>
  <MODULES>
    <UTILITAIRES>VHJ1ZQ==</UTILITAIRES>
    <MARCHE>VHJ1ZQ==</MARCHE>
    <SUIVICONV>VHJ1ZQ==</SUIVICONV>
    <IMMO>VHJ1ZQ==</IMMO>
    <ETATSFIN>VHJ1ZQ==</ETATSFIN>
    <SUIVIBUD>VHJ1ZQ==</SUIVIBUD>
    <COMPTAANA>VHJ1ZQ==</COMPTAANA>
    <COMPTAGEN>VHJ1ZQ==</COMPTAGEN>
    <PARAMETRES>VHJ1ZQ==</PARAMETRES>
    <ELABORATIONBUDGET>RmFsc2U=</ELABORATIONBUDGET>
    <CALCULCOUTS>RmFsc2U=</CALCULCOUTS>
    <GESTIONAPPRO>RmFsc2U=</GESTIONAPPRO>
    <STOCKS>RmFsc2U=</STOCKS>
    <PASSMARCHE>RmFsc2U=</PASSMARCHE>
    <DECAISSEMENT>VHJ1ZQ==</DECAISSEMENT>
    <GESTIONCMOD>RmFsc2U=</GESTIONCMOD>
    <GESTIONCDEAO>RmFsc2U=</GESTIONCDEAO>
    <TIMESHEET>RmFsc2U=</TIMESHEET>
    <PAIE>RmFsc2U=</PAIE>
    <GROUPEMOBILE>RmFsc2U=</GROUPEMOBILE>
  </MODULES>
  <NBRMULTIPROJETS>
  </NBRMULTIPROJETS>
  <DATEDEBUT>MDEvMDEvMTk5MA==</DATEDEBUT>
  <DATEFIN>MjgvMDIvMjAxOQ==</DATEFIN>
  <EXPIRER>
  </EXPIRER>
  <FENETREDEMO>VHJ1ZQ==</FENETREDEMO>
  <SOLDERSF>RmFsc2U=</SOLDERSF>
  <DATEDEBRSF>
  </DATEDEBRSF>
  <PORT>
  </PORT>
  <NBRETABLISSEMENT>MA==</NBRETABLISSEMENT>
</CONFIGSETTINGS>