@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>DEP_RECETTE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Mantis is made using Bootstrap 5 design framework. Download the free admin template & use it for your project.">
    <meta name="keywords" content="Mantis, Dashboard UI Kit, Bootstrap 5, Admin Template, Admin Dashboard, CRM, CMS, Bootstrap Admin Template">
    <meta name="author" content="CodedThemes">

    <!-- [Favicon] icon -->
    <link rel="icon" href="~/assets/images/favicon.svg" type="image/x-icon"> <!-- [Google Font] Family -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" id="main-font-link">
    <!-- [Tabler Icons] https://tablericons.com -->
    <link rel="stylesheet" href="~/assets/fonts/tabler-icons.min.css">
    <!-- [Feather Icons] https://feathericons.com -->
    <link rel="stylesheet" href="~/assets/fonts/feather.css">
    <!-- [Font Awesome Icons] https://fontawesome.com/icons -->
    <link rel="stylesheet" href="~/assets/fonts/fontawesome.css">
    <!-- [Material Icons] https://fonts.google.com/icons -->
    <link rel="stylesheet" href="~/assets/fonts/material.css">
    <!-- [Template CSS Files] -->
    <link rel="stylesheet" href="~/assets/css/style.css" id="main-style-link">
    <link rel="stylesheet" href="~/assets/css/style-preset.css">
    <script src="~/Scripts/jquery-3.6.1.min.js"></script>

</head>

<body>

    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->

    <div class="auth-main">
        <div class="auth-wrapper v3">
            <div class="auth-form">
                <div class="auth-header">
                    <a href="#"><img src="~/assets/images/logo-dark.svg" alt="img"></a>
                </div>
                <div class="card my-5" style="background-color:#e5dede">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-end mb-4">

                        </div>
                        <div class="form-group mb-2">
                            <label class="form-label">Identifant</label>
                            <input type="text" id="login" class="form-control inputUp" placeholder="Identifiant">
                        </div>
                        <div class="form-group mb-2">
                            <label class="form-label">Mot de passe</label>
                            <input type="password" id="password" class="form-control inputUp" placeholder="mot de passe">
                        </div>
                        <div id="divConfirmPWD" style="display:none">
                            <div class="form-group mb-2">
                                <label class="form-label">Confirmer mot de passe</label>
                                <input type="password" id="Confirmpassword" class="form-control inputUp" placeholder="Confirmation mot de passe">
                            </div>
                        </div>
                        <div class="d-flex mt-1 justify-content-center">
                            <h6 class="text-danger f-w-400" id="erreur_authentif"></h6>
                        </div>
                        <div class="d-grid my-2">
                            <div class="row justify-content-center" style="text-align:center">
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary" onclick="SeConnecter()" id="SeConnecter">Se connecter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="auth-footer row">
                    <!-- <div class=""> -->
                    <div class="col my-1">
                        <p class="m-0">Copyright © @DateTime.Now.Year - Tous Droits Réservés</p>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/js/plugins/popper.min.js"></script>
    <script src="~/assets/js/plugins/simplebar.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/assets/js/fonts/custom-font.js"></script>
    <script src="~/assets/js/pcoded.js"></script>
    <script src="~/assets/js/plugins/feather.min.js"></script>
    <script src="~/js/authentify.js"></script>




    <script>layout_change('light');</script>




    <script>change_box_container('false');</script>



    <script>layout_rtl_change('false');</script>


    <script>preset_change("preset-1");</script>


    <script>font_change("Public-Sans");</script>
</body>

</html>