@{ 
    var action = ViewContext.RouteData.Values["action"].ToString();
}
<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="#" class="b-brand text-primary">
                <!-- ========   Change your logo from here   ============ -->
                <img src="~/assets/images/logo-dark.svg" class="img-fluid logo-lg" alt="logo">
            </a>
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">
                <li class="pc-item">
                    <a href="#" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
                        <span class="pc-mtext">Accueil</span>
                    </a>
                </li>

                <li class="pc-item pc-caption">
                    <label>App</label>
                    <i class="ti ti-dashboard"></i>
                </li>
                <li class="pc-item @(action == "Depense"?"active":"")">
                    <a href="#" class="pc-link Parametre" name="Depense">
                        <span class="pc-micon"><i class="ti ti-typography"></i></span>
                        <span class="pc-mtext">Dépense</span>
                    </a>
                </li>
                <li class="pc-item @(action == "Recette"?"active":"")">
                    <a href="#" class="pc-link Parametre" name="Recette">
                        <span class="pc-micon"><i class="ti ti-color-swatch"></i></span>
                        <span class="pc-mtext">Recette</span>
                    </a>
                </li>
                <li class="pc-item @(action == "Caisse"?"active":"")">
                    <a href="#" class="pc-link Parametre" name="Caisse">
                        <span class="pc-micon"><i class="ti ti-color-swatch"></i></span>
                        <span class="pc-mtext">Caisse</span>
                    </a>
                </li>


                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-menu"></i></span><span class="pc-mtext">
                            Paramétres
                        </span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="#!">Société</a></li>
                        <li class="pc-item"><a class="pc-link" href="#!">Caisses</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-menu"></i></span><span class="pc-mtext">
                            Saisie
                        </span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="#!">Enregistrement</a></li>
                        <li class="pc-item"><a class="pc-link" href="#!">Tableau de bord</a></li>
                        <li class="pc-item"><a class="pc-link" href="#!">Editions des opérations</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-menu"></i></span><span class="pc-mtext">
                            Utilitaires
                        </span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="#!">Sauvegarde</a></li>
                        <li class="pc-item"><a class="pc-link" href="#!">Restauration</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>