
<input type="hidden" id="racine" value="C:\\SQLBackupsDEPREC\\Sauvegarde" />


<div class="row justify-content-center" style="text-align:center">
    <div class="col-md-12">
        <div class="alert_Param hide">
            <span class="fas fa-exclamation-circle"></span>
            <span class="result_Param" style="color: #ce8500;"></span>
        </div>
    </div>
</div>
<div class="row justify-content-center" style="text-align:center;margin-top:25px">
    <div class="col-md-12">
        <button onclick="sauvegarder()" id="sauvegarder" class="btn btn-sm btn-success">Lancer Sauvegarder</button>
    </div>
</div>
<script src="~/js/Utilitaires/saveRestaureBDD.js"></script>